button.titlebutton {
  min-height: 24px;
  min-width: 24px;
  border-radius: 8px;
  padding: 3px;
  /*padding-right: 6px;
  padding-left: 6px;*/
  margin-right: -3px;
  margin-left: -1px;
}

/* MINIMIZE/MAXIMIZE */

button.titlebutton.minimize,
button.titlebutton.maximize {
  background-color: #444444;
}

button.titlebutton.minimize:hover,
button.titlebutton.maximize:hover {
  background-color: grey;
  color: white;
}

button.titlebutton.minimize:backdrop,
button.titlebutton.maximize:backdrop {
  background-color: #343434; /* To match GTK4 value */
  color: #868685; /* To match GTK4 value */
}

button.titlebutton.minimize:backdrop:hover,
button.titlebutton.maximize:backdrop:hover {
  background-color: #525252; /* To match GTK4 value */
  color: #868685; /* To match GTK4 value */
}

/* CLOSE */

button.titlebutton.close {
  background-color: #B00000;
}

button.titlebutton.close:hover {
  background-color: red;
  color: white;
}

button.titlebutton.close:backdrop {
  background-color: #6a1212; /* To match GTK4 value */
  color: #868685; /* To match GTK4 value */
}

button.titlebutton.close:backdrop:hover {
  background-color: #921212; /* To match GTK4 value */
  color: #868685; /* To match GTK4 value */
}


