#TabsToolbar {
  background-color: #18181b !important;
}

.tab-background[selected]{
  background: #36363a !important
}

toolbar {
  background-color: #222226 !important;
}

#main-window[privatebrowsingmode="temporary"] .tab-background[selected]{
  background: #47116c !important
}

